*{
    padding: 0;
    margin: 0;
}
body{
	background-color: #222222;
}
#main{
    width: 402px;
    margin: auto;
    overflow: hidden;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
#score{
    position:relative;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    color:white;
    text-align:right;
    margin-left:0px;
    margin-right:auto;
}
#character{
    width: 20px;
    height: 26px;
    border-radius: 100%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
    background-image:    url(https://cdn.discordapp.com/emojis/416633501010362390.webp?size=128&quality=lossless);
    background-size:     20px 26px;
    background-repeat:   no-repeat;
    background-position: center center;
}

.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
p1{
	color: red;
}
